<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <context-param>
  <param-name>resteasy.scan</param-name>
  <param-value>true</param-value>
 </context-param>
<servlet>
    <servlet-name>Jersey2Config</servlet-name>
    <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
    <init-param>
        <param-name>swagger.api.version</param-name>
        <param-value>1.5.0</param-value>
    </init-param>
    <init-param>
           <param-name>swagger.api.basepath</param-name>
           <param-value>http://localhost:8080/tm</param-value>
       </init-param>
    <init-param>
        <param-name>swagger.api.resourcePackage</param-name>
        <param-value>com.dennisjonsson.tm.rest</param-value>
    </init-param>

    <load-on-startup>2</load-on-startup>
</servlet>
 
</web-app>
